body{
	background-color: #57FFC6;
    background: url("work.png");
    background-size: 500px 500px;
	font-family: Gothic;
}

.fields{
    background: rgba(49, 171, 204, 0.73);
  text-align: center;
  width: 20%;
  padding: 20px;
  font-size: 25px;
  border-radius: 10px;
  border: black solid 2px;
}

.activity{
    background: rgba(49, 171, 204, 0.73);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: black solid 2px;
   position:absolute;
   top: 400px;
    right: 20px;
    width: 230px;
}

.header
{
    height: 40px;
    background-color: rgba(49, 171, 204, 0.79);
    border: black solid 2px;
    border-radius: 4px;
}

.button{
background-color: rgba(255, 97, 89, 0.79);
width: 150px;
height: 55px;
font-size: 25px;
border-radius: 20px;
}

.autorization {
  background: rgba(49, 171, 204, 0.73);
  text-align: center;
  width: 400px;
    margin-left: auto;
    margin-right: auto;
  padding: 20px;
  font-size: 25px;
  border-radius: 70px;
  border: black solid 5px;
}

.progress_bar{
    width: 20%;
    position:absolute;
    top: 100px;
    left: 40%;
    right: 40%;
    background-color: rgba(49, 204, 107, 0.79);
    border: black solid 2px;
    border-radius: 4px;
}

.progress_bar progress{
    color: #31ABCC;
    width: 100%;
    height: 40px;
    border: black solid 3px;
    border-radius: 10px;
}
.progress_bar p{
    color: black;
    text-align: center;
}

.error {
	color: rgba(255, 97, 89, 0.84);
	text-align: right;
	margin-top: 50px;
	font-size: 30px;
	font-family: monospace;
}

.menu ul{
    list-style-type: none;
    padding-left: 10px;
    color: black;
}

.menu li{
    font-size: 20px;
    width: 200px;
    background-color: rgba(49, 171, 204, 0.79);
    text-align: right;
    border: black solid 2px;
    border-radius: 4px;
    border-left: #CC235A solid 20px;
    font-weight: bolder;
}

.calendar{
    position: absolute;
    top: 80px;
    right: 20px;
}

.calendar .vacancy{
	color: #CC235A;
}

.calendar td{
	background-color: rgba(49, 171, 204, 0.7);
	font-size: 30px;
	font-family: monospace;
	font-weight: bold;
}

.calendar th{
	background-color: #31CC6B;
	font-size: 20px;
	font-family: monospace;
	font-weight: bold;
}

.calendar .today{
	border: dashed;
}

.exit{
	background-color: #ff6159;
	font-size: 20px;
	font-family: monospace;
	font-weight: bold;
	text-align: center;
	position: absolute;
    top: 15px;
    right: 180px;
}

.hello{
    position: absolute;
    top: -5px;
    left: 10px;
}