body{
	background-color: #57FFC6;
	#background: url("ERZHAN.gif");
    background: url("work.jpg");
    background-size: 900px 900px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.dayman{
    position:absolute;
   top: 300px;
    left: 30px;
    z-index: 1;
}

.startday{
    background-color: rgba(49, 204, 107, 0.9);
}

.endday{
    background-color: rgba(255, 97, 89, 0.9);
}

.usertable{
    width: 100%;
    background-color: rgba(49, 171, 204, 0.7);
	
    margin-top: 310px;
	#background: url("ERZHAN.gif");
    border-radius: 3px;
    border: black solid 2px;
    overflow-x: auto;
    display: block;
    position: relative;
    top: 40px;
}
.usertable table {
        width: 100%;
        font-size: 20px;
    padding: 5px;
	}

input{
    border-radius: 10px;
}

@media screen and (max-width: 640px) {
	.usertable table {
        width: 100%;
		overflow-x: auto;
		display: block;
	}
}

.usertable th{
    background-color: rgba(229,229,229,0.81);
    font-size: 20px;
}

.usertable td{
    background-color: rgba(107, 191, 214, 0.81);
    font-size: 20px;
}

.usertable input[type="submit"]{
    font-weight: bolder;
    width: 100%;
    height: 30px;
    font-size: 16px;
}
.usertable input[type="text"]{
    font-weight: bolder;
    position: absolute;
    top: 10px;
    left: 3px;
    font-size: 16px;
}

.usertable select{
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 10px;
}

.usertable p{

    text-align: center;
    font-size: 15px;
    font-weight: bolder;

}

.back{
    background: url("tools.jpg");
    position: absolute;
    top: 70px;
    left: 15px;
    width: 225px;
    height: 270px;
    border-radius: 3px;
    border: black solid 2px;
}

.fields{
    background: rgba(49, 171, 204, 0.7);
  text-align: center;
  width: 20%;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
    margin-top: 300px;
  border: black solid 2px;
}

.fields select{
    width: 100%;
}

.fields input{
    width: 100%;
}
.fields table{
    text-align: right;
}

.activity{
  text-align: center;
    padding: 2px;
   position:absolute;
   top: 15px;
    right: 35%;
    left: 35%;
}

.activity input{
background-color: rgba(255, 97, 89, 0.7);
border-radius: 10px;
}

.activity select{
    margin: 0px;
    padding: 0px;
height: 20px;
font-size: 16px;
border-radius: 10px;
}

.header
{
    height: 40px;
    font-size: 30px;
    text-align: right;
    background-color: rgba(49, 171, 204, 0.7);
    border: black solid 2px;
    border-radius: 4px;
}

.button{
background-color: rgba(255, 97, 89, 0.7);
width: 50%;
height: 55px;
font-size: 25px;
border-radius: 20px;
}

.autorization {
  background: rgba(49, 171, 204, 0.7);
  #background: url("zub.jpg");
  background-size: 400px 400px;
  text-align: center;
  width: 400px;
    margin-left: auto;
    margin-right: auto;
  padding: 20px;
  font-size: 25px;
  border-radius: 70px;
  border: black solid 5px;
}
.autorization td, input{
  font-size: 20px;
}
.autorization table{
      background: rgba(49, 171, 204, 0.7);
  text-align: right;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: black solid 2px;
}


.progress_bar{
    width: 20%;
    position:absolute;
    top: 70px;
    left: 40%;
    right: 40%;
    background-color: rgba(49, 204, 107, 0.7);
    border: black solid 2px;
    border-radius: 4px;
}

.progress_bar .timer{
    background-color: rgba(229,229,229,0.81);
    color: rgba(49, 204, 107, 1);
    font-weight: bolder;
    font-size: 30px;
    border: black solid 2px;
    border-radius: 4px;
    margin: 20px;
}

.progress_bar .stoppedtimer{
    background-color: rgba(229,229,229,0.81);
    color: rgba(255, 97, 89, 1);
    font-weight: bolder;
    font-size: 30px;
    border: black solid 2px;
    border-radius: 4px;
    margin: 20px;
}

.progress_bar progress{
    color: #31ABCC;
    width: 100%;
    height: 40px;
    border: black solid 3px;
    border-radius: 10px;
}
.progress_bar p{
    color: black;
    text-align: center;
    font-size: 17px;
}

.error {
	color: rgba(255, 97, 89, 0.7);
	text-align: right;
	margin-top: 50px;
	font-size: 30px;
	font-family: monospace;
}

.menu{
    position: absolute;
    top:60px;
    left: 10px;
}

.menu ul{
    list-style-type: none;
    padding-left: 10px;
    color: black;
}

.menu li{
    font-size: 20px;
    width: 200px;
    background-color: rgba(49, 171, 204, 0.9);
    text-align: right;
    border: black solid 2px;
    border-radius: 4px;
    border-left: #CC235A solid 20px;
    font-weight: bolder;
}

.calendar{
    position: absolute;
    top: 70px;
    right: 20px;
}

.calendar .vacancy{
	color: #CC235A;
}

.calendar .action select{

    width: 100%;
    height: 100%;
    font-size: 30px;
	font-family: monospace;
	font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.calendar .vacancy .action select{
    color: #CC235A;
}

.calendar .vacancy:hover .action{
	display : block;
}

.calendar .vacancy:hover .date{
	display : none;
}

.calendar .workday:hover .action{
	display : block;
}

.calendar .workday:hover .date{
	display : none;
}

.calendar td{
	background-color: rgba(49, 171, 204, 0.7);
	font-size: 30px;
    width: 40px;
    height: 40px;
	font-family: monospace;
	font-weight: bold;
}

.calendar th{
	background-color: #31CC6B;
	font-size: 20px;
	font-family: monospace;
	font-weight: bold;
}

.calendar .today{
	border: solid 1px red;
}

.exit{
	background-color: #ff6159;
	font-size: 20px;
	font-family: monospace;
	font-weight: bold;
	text-align: center;
	position: absolute;
    top: 15px;
    right: 250px;
}

.hello{
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 30px;
}

.flashes{
    position: absolute;
    bottom: 5px;
    right:5px;
    background-color: #ff6159;
    border: black solid 2px;
    border-radius: 4px;
}

.calc{
    position: absolute;
    bottom: 5px;
    right:40%;
    left:40%;
    background-color: #ff6159;
    border: black solid 2px;
    border-radius: 4px;
}

