{% include "homepage.html" %}
<div class = "usertable">
<p>Workers</p>
<input type = 'text' id = 'search-text' onkeyup='tableSearch()' placeholder="Search...">
<table border="2px" id = 'info-table'>
<tr>
    <th>Login</th>
    <th>Name</th>
    <th>Role</th>
    <th>Total worktime</th>
    <th>Today worktime</th>
    <th>Salary</th>
    <th>Action</th>
</tr>
{% for worker in workers %}
<tr>
    <td>{{ worker.login }}</td>
    <td>{{ worker.username }}</td>
    <td>{{ worker.role }}</td>
    {% if worker.login in workdays %}
        {% set workertime = workdays[worker.login].time %}
        {% set ended = workdays[worker.login].ended %}
    <td {% if ended == 0 %}class = 'timer'{% endif %}>{{ '%02d'|format((worker.worktime/3600)|int) }}:{{ '%02d'|format((worker.worktime%3600)/60|int) }}:{{ '%02d'|format((worker.worktime%60)|int) }}</td>
    <td {% if ended == 0 %}class = 'timer'{% endif %}>{{'%02d'|format((workertime/3600)|int) }}:{{ '%02d'|format((workertime%3600)/60|int) }}:{{ '%02d'|format((workertime%60)|int)}}</td>
    {% else %}
        <td>00:00:00</td>
        <td>00:00:00</td>

    {% endif %}
    <td>{{ worker.salary | round(2)}}</td>
    {% if  worker.login != user.login %}
    <td>
        <form method="post" action="{{ url_for('Manager.Delete') }}">
            <input type="text" name="userlogin" value="{{ worker.login }}" hidden>
            <input  type="submit" class="button" value="Delete">
        </form>
    </td>
    {% endif %}
</tr>
{% endfor %}
</table>
</div>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>