<link rel="stylesheet" href="/static/css/main.css" />
<div class = "calendar">
<form method="post">
{% set months_names = {
        1: 'January', 2: 'February', 3: 'March', 4: 'April',
        5: 'May', 6: 'June', 7: 'July', 8: 'August',
        9: 'September', 10: 'October', 11: 'November', 12: 'December'
    } %}
    <table border="1">
        <tr>
            <th colspan="7">{{ date.year }} year</th>
        </tr>
        <tr>
            <th colspan="7">{{ months_names[date.month] }} </th>
        </tr>
        {% for week in cal %}
            <tr>
                {% for day in week %}
                    <td>
                    {% if  day.date == date.day %}
                        <div class="today">
                    {% endif %}
                    {% if day.form == "Vacancy" %}
                        <div class="vacancy">
                            <div class="date">{{ day.date }}</div>
                            <div class='action' hidden>
                                <form method="post" action={{ url_for('rec.TakeOvertime') }}>
                                    <input type="text" name = 'year' value={{ date.year }} hidden>
                                    <input type="text" name = 'month' value={{ date.month }} hidden>
                                    <input type="text" name = 'date' value={{ day.date }} hidden>
                                    <select onchange=this.form.submit()>
                                        <option>{{ day.date }}</option>
                                        <option>Order overtime</option>
                                    </select>
                                </form>
                            </div>
                        </div>

                    {% endif %}
                    {% if day.form == "Work" %}
                        <div class="workday">
                            <div class="date">{{ day.date }}</div>
                            <div class='action' hidden>
                                <form method="post" action={{ url_for('rec.ReplaceWorkday') }}>
                                    <input type="text" name = 'year' value={{ date.year }} hidden>
                                    <input type="text" name = 'month' value={{ date.month }} hidden>
                                    <input type="text" name = 'date' value={{ day.date }} hidden>
                                    <select onchange=this.form.submit()>
                                        <option>{{ day.date }}</option>
                                        <option>Replace workday</option>
                                    </select>
                                </form>
                            </div>
                        </div>

                    {% endif %}
                    {% if  day.date == date.day %}
                        </div>
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</form>
</div>