<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css" />
</head>
{% block body %}
    <form class="calc" method="post" action={{ url_for("Manager.calculate_all") }}>
        <input type = 'submit' value="Calculate all salaries">
    </form>

    <body link="black">
    <div class="hello">Hello, {{ user.username }}!</div>
    <div class="back"></div>
    <div class="menu">
    <ul>
    {% set role = user.role %}
    {% for item in menu %}
        <li>
            {% set url = role+"."+item[1] %}
            <a href = {{ url_for(url)}}>{{ item[0] }}</a>
        </li>
    {% endfor %}
    </ul>
    </div>
    <div class="progress_bar">
        <p> Time spended today: </p>

        {% set ended = workdays[user.login].ended %}

        <p {% if ended == 0 %}class="timer"{% endif %}>{{ '%02d'|format((time/3600)|int) }}:{{ '%02d'|format((time%3600)/60|int) }}:{{ '%02d'|format((time%60)|int) }} </p>
        <progress max = {{ norms }} value = {{ (user.worktime/3660 + time/3660)|round(2) }}></progress>
        <p> Time spended alltime: {{ (user.worktime/3600 + time/3660)|round(1)}} / {{ norms | round }} hours</p>

    </div>
    <div class = 'dayman'>
        <form method="post">
        <table>
            <tr>
                <input type="text" name="userlogin" value="{{ user.login }}" hidden>
                <td>
                   <input class="startday" type="submit" value="Start day" formaction={{ url_for("rec.begin_day") }}>
                </td>
                <td>
                    <input class="endday" type="submit" value="End day" formaction={{ url_for("rec.end_day") }}>
                </td>
            </tr>
        </table>
        </form>
    </div>
    {% include "calendar.html" %}
    <div class="activity">
        <form method="post">
            <label for="activity"> Activity </label>

            {% set activity = 'Standart' %}
                {% if user.login in workdays %}
                    {% set activity = workdays[user.login].activity %}
                {% endif %}
                <select name="activity" id="activity">
                    <option value="Standart" {% if activity == 'Standart' %} selected="selected" {% endif %}>Standart</option>
                    <option value="Vacation" {% if activity == 'Vacation' %} selected="selected" {% endif %}>Vacation</option>
                    <option value="Sick" {% if activity == 'Sick' %} selected="selected" {% endif %}>Sick</option>
                    <option value="Assignment" {% if activity == 'Assignment' %} selected="selected" {% endif %}>Assignment</option>
                    <option value="Overtime" {% if activity == 'Overtime' %} selected="selected" {% endif %}>Overtime</option>
                </select>
            <input type="submit" name="activity" value="Change" formaction='{{ url_for('rec.activity') }}'>
        </form>
    </div>
    <form method="post">
    <input class="exit" type="submit" name="exit" value="Exit" formaction='{{ url_for('rec.exit') }}'>
    </form>
    <script src="{{ url_for('static', filename='js/time.js') }}"></script>
</body>
{% endblock %}


</html>