<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css" />
</head>
{% block body %}
    <body link="black">
    <div class="hello"><h1>Hello, {{ user.username }}!</h1></div>
    <div class="menu">
    <ul>
    {% set role = user.role %}
    {% for item in menu %}
        <li>
            {% set url = role+"."+item[1] %}
            <a href = {{ url_for(url)}}>{{ item[0] }}</a>
        </li>
    {% endfor %}
    </ul>
    </div>
    <div class="progress_bar">
        <p> Time spended today: {{ (time/3660) | round(2)  }} hours </p>
        <progress max = {{ norms }} value = {{ (user.worktime/3660 + time/3660)|round(2) }}></progress>
        <p> Time spended alltime: {{ (user.worktime/3600) | round(2) + (time/3660) | round(2)}} / {{ norms | round }} hours</p>

    </div>

    {% include "calendar.html" %}
    <div class="activity">
        <form method="post">
            <label for="activity"> Activity </label>
            <select name="activity" id="activity">
                <option value="Standart">Standart</option>
                <option value="Vacation">Vacation</option>
                <option value="Sick">Sick</option>
                <option value="Assignment">Assignment</option>
                <option value="Overtime">Overtime</option>
            </select>
            <br>
            <br>
            <input class="button" type="submit" name="activity" value="Change" formaction="{{ url_for('rec.activity') }}">
        </form>
    </div>
    <form method="post">
    <input class="exit" type="submit" name="exit" value="Exit" formaction="{{ url_for('rec.exit') }}">
    </form>
</body>
{% endblock %}


</html>